<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  <title>Página web | demo</title>
</head>

<body>
    <h1>Hola, {{nombre}} </h1>
   <h2>Selecciona una opción</h2>

    
    <div></div>
    <p1>Ver mapa: <a href="ec2-3-19-49-250.us-east-2.compute.amazonaws.com:3000/mapa">click aquí</a></p1>
    
</body>

</html>